@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #213deb;
  --secondary: #1a2596;
  --deep: #09034b;
}

input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*
* Loading
*/
#loading {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

#loading div {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 64px;
  height: 64px;
  border: 8px solid gray;
  border-left: 0;
  border-right: 0;
  border-radius: 100%;
  animation: spin infinite 1s linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Blur fade in */
.blur-in {
  animation: blur-in 0.5s;
}

@keyframes blur-in {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

/* Skeleton base style */
.skeleton {
  background-color: #e0e0e0;
  width: 100%;
  min-height: 18px;
  border-radius: 4px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite linear;
}

/* Animation effect for skeleton */
@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Animation for Earth SVG */
.rotate-animation-1 {
  transform-origin: center;
  animation: rotate-animation-1 15s linear infinite;
}
@keyframes rotate-animation-1 {
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation-2 {
  transform-origin: center;
  animation: rotate-animation-2 25s linear infinite;
}

@keyframes rotate-animation-2 {
  to {
    transform: rotate(-360deg);
  }
}

.rotate-animation-3 {
  transform-origin: center;
  animation: rotate-animation-3 15s linear infinite;
}

@keyframes rotate-animation-3 {
  to {
    transform: rotate(-360deg);
  }
}

/* Animation for Map SVG */
.ping-animation {
  animation: ping-animation 2s linear infinite;
}

@keyframes ping-animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
