@tailwind base;
@tailwind components;
@tailwind utilities;

a,
button {
  @apply button-interaction;
}

input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Animation for Earth SVG */
.rotate-animation-1 {
  transform-origin: center;
  animation: rotate-animation-1 15s linear infinite;
}
@keyframes rotate-animation-1 {
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation-2 {
  transform-origin: center;
  animation: rotate-animation-2 25s linear infinite;
}

@keyframes rotate-animation-2 {
  to {
    transform: rotate(-360deg);
  }
}

.rotate-animation-3 {
  transform-origin: center;
  animation: rotate-animation-3 15s linear infinite;
}

@keyframes rotate-animation-3 {
  to {
    transform: rotate(-360deg);
  }
}

/* Animation for Map SVG */
.ping-animation {
  animation: ping-animation 2s linear infinite;
}

@keyframes ping-animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
